@import "./bootstrap/bootstrap.scss";
@import "./general/settings.scss";
@import "./components/index.scss";
@import "./layout/index.scss";
@import "./pages/index.scss";
@import "./general/responsive.scss";
@import "./general/helper.scss";

body {
  // max-width: 1366px;
  margin: 0 auto !important;
  width: 100%;
  font-family: "Roboto", sans-serif !important;
}
ol,
ul {
  padding-left: 0rem;
}
a {
  text-decoration: none;
}
