.page-item.active .page-link {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: #fff !important;
}

.page-link {
  color: $primary-color !important;
}
.page-item.page-item-more {
  padding: 5px 15px;
  font-weight: 700;
  word-spacing: 33px;
}
.page-item {
  color: $primary-color !important;
}

// tabs
.nav-tab-primary {
  nav.nav.nav-pills {
    border-radius: 50px;
    overflow: hidden;
  }

  .nav-pills .nav-link {
    background: #f2f0f0;
    margin: 0.5px;
    color: $primary-color;
    font-size: 23px;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: $primary-color;
  }
}
// breadcrumb
.breadcrumb-primary {
  .breadcrumb-item {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
  }

  .breadcrumb-item.active {
    color: #fff;
    font-weight: 400;
  }

  .breadcrumb-item a {
    color: #fff;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
  }
}
// radio
.form-check-input:checked {
  background-color: $primary-color;
  border-color: $primary-color;
}
.filter {
  display: flex;
  justify-content: end;
  font-size: 14px;
}
//slick vertical
.services-slider {
  display: flex;
}

.nav-container .slick-current img {
  box-shadow: 0 0 4px 2px rgba(108, 232, 220, 0.9);
}

.nav-container {
  // width: 100px;
}
.nav-container .slick-slide {
  // max-height: 55px;
  // margin-bottom: 18px;
}

.services-slider .slick-track {
  // margin-left: 50px;
}

@media (min-width: 1000) {
  .slider-nav {
    display: none !important;
  }
}
