.page-item.active .page-link {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: #fff !important;
}

.page-link {
  color: $primary-color !important;
}
.page-item.page-item-more {
  padding: 5px 15px;
  font-weight: 700;
  word-spacing: 33px;
}
.page-item {
  color: $primary-color !important;
}

// tabs
.nav-tab-primary {
  nav.nav.nav-pills {
    border-radius: 50px;
    overflow: hidden;
  }

  .nav-pills .nav-link {
    background: #f2f0f0;
    margin: 0.5px;
    color: $primary-color;
    font-size: 23px;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: $primary-color;
    color: #fff;
  }
  .nav-link.active {
  }

  .nav-link {
    text-align: center;
    flex: 1;
  }
}
// breadcrumb
.breadcrumb-primary {
  .breadcrumb-item {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
  }

  .breadcrumb-item.active {
    color: #fff;
    font-weight: 400;
  }

  .breadcrumb-item a {
    color: #fff;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
  }
}
// radio
.form-check-input:checked {
  background-color: $primary-color;
  border-color: $primary-color;
}
.filter {
  display: flex;
  justify-content: end;
  font-size: 14px;
}
//slick vertical
.slick-vertical {
  .services-slider {
    img {
      max-width: 100%;
    }
  }

  .nav-container .slick-current img {
    border: 1px solid $primary-color;
  }

  .nav-container {
    // max-width: 100px;
    .slider-nav {
      height: 100%;
      overflow: hidden;
    }
  }
}
// BUTTON

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $red-dark-color;
    border-color: $red-dark-color;
  }
}

// /product-content
.product-content {
  background: #dddddd63;
  border-radius: 10px;
  padding: 10px 15px;
  min-height: 200px;
}

h2.sesion-title-line-through {
  text-align: center;
  position: relative;
  margin: 0;

  &:before {
    content: "";
    height: 1px;
    width: 100%;
    background: $primary-color;
    display: block;
    top: 50%;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  span {
    padding: 10px;
    background: #fff;
  }
}

.stores {
  border: 8px solid #ffcb00;
  border-radius: 7px;
  padding: 20px 10px;

  .line-primary {
    border-width: 0;
    border-left-width: 2px;
    border-left-color: $primary-color;
    border-style: solid;
  }

  @media (max-width: 768px) {
    .line-primary {
      border-left: 0;
      border-top-width: 1px;
      border-top-color: $primary-color;
    }
  }

  .blue-style {
    .wrap-state.bigger .wrap-state__province span {
      background: #65c6cf;
      color: #000;
      &:before {
        background: #65c6cf;
      }
    }

    .wrap-state__district {
      color: #173266;
    }
  }
}
