.input-search {
  width: 200px;
  padding: 4px 4px 4px 40px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 30px;
  outline: none;

  &::-webkit-input-placeholder {
    font-size: 14px;
  }
}
