.header {
  // padding: 0 30px !important;
  background-color: #fff;

  &-logo {
    img {
      height: 30px;
    }
  }

  &-menu {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;
        padding: 10px 5px;

        a {
          color: #454242;
          text-decoration: none;
          font-size: 14px;
        }

        :hover {
          color: #000000;
          text-decoration: underline;
          text-decoration-color: $primary-color;
          text-underline-offset: 4px;
          font-weight: bold;
        }
      }
    }
  }

  .icon-cart {
    position: relative;
    width: 20px;
    height: 20px;

    .icon-search-mobile {
      position: absolute;
      top: 0;
      left: 0;
    }

    .quantity-item {
      position: absolute;
      top: -2px;
      right: -6px;
      background: $primary-color;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      color: #fff;
      margin: 0;
    }
  }

  .icon-search-mobile {
    width: 20px;
    color: white;
  }

  &-search {
    position: relative;

    .icon-search {
      width: 16px;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-info {
    display: flex;
    align-items: center;

    &__item {
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      white-space: nowrap;

      i {
        font-size: 26px;
      }

      span {
        margin-top: 10px;
        font-size: 10px;
      }
    }
  }

  .menu-sidebar {
    padding: 0;
    width: 335px;
    overflow: auto;

    .wrap-menu-group {
      padding: 25px 25px 10px 25px;

      .menu-group {
        width: 100%;
        margin-bottom: 8px;

        &__label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          font-size: 20px;
          color: $primary-color;

          #toggle-icon {
            font-size: 28px;
            height: 30px;
            display: flex;
            align-items: center;
          }
        }

        .collapsed {
          color: black;
        }

        .collapse-wrap-menu {
          display: flex;
          flex-direction: column;
          padding: 8px 0;

          a {
            padding: 5px 30px;
            color: black;
          }
        }
      }
    }

    .wrap-link {
      display: flex;
      justify-content: space-between;
      padding: 15px 25px;

      a {
        color: black;
      }
    }
  }

  .devider-full {
    border-top: 1px solid black;
  }
}

.wrap-state {
  padding: 20px 0px;

  &__province {
    text-align: center;
    margin-bottom: 14px;

    span {
      padding: 4px 20px;
      background-color: #c22026;
      color: #fff;
      font-size: 16px;
      border-radius: 20px;
    }
  }

  &__address {
    font-size: 12px;
    padding: 0;
    text-align: center;
  }

  &__district {
    color: #c22026;
    font-size: 15px;
    text-align: center;
    margin-bottom: 4px;
  }
  &.bigger {
    // padding: 0;
    // max-width: 600px;
    .wrap-state__address {
      font-size: 14px;
    }

    .wrap-state__district {
      font-size: 18px;
    }
    .wrap-state__province {
      margin-bottom: 40px;
      position: relative;
      span {
        padding: 0px 25px;
        font-size: 18px;
        display: inline-block;

        position: relative;
        &:before {
          content: "";
          width: 140%;
          height: 5px;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          background: $primary-color;
          z-index: -1;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.wrap-content {
  padding: 0 10px;
}

.devider {
  background-color: #cf3232;
  padding: 10px;
  text-align: center;
  min-height: 30px;

  span {
    color: #fff;
  }
}

.wrap-cart-view {
  padding: 20px;
  width: 400px;

  .cart-title {
    margin-bottom: 10px;
  }

  .cart-price {
    font-weight: 500;
    margin-left: 5px;
  }

  .cart-items {
    display: flex;
    flex-direction: column;

    .devider-dashed {
      border-top: 1px dashed;
    }

    .cart-item {
      display: flex;
      padding: 20px 0;

      &__img {
        width: 70px;
        position: relative;
        padding-top: 440px / 320px * 100%;

        img {
          position: absolute;
          width: 100%;
          object-fit: cover;
          top: 0;
          left: 0;
        }
      }

      &__info {
        .item {
          margin-bottom: 10px;

          .delete-item {
            color: $primary-color;
            text-decoration: underline;
            float: right;
          }
        }
      }
    }
  }

  .total-money {
    padding: 20px 0;
    text-align: right;
  }

  .money {
    font-weight: 700;
  }

  .view-to-cart {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #777777;

    .cart-view-title {
      margin-top: 0;
      font-size: 14px;
      margin-right: 20px;
    }

    img {
      width: 10px;
    }
  }

  .cart-link {
    background-color: $gray-color;
    padding: 10px 30px;
    margin: 6px 0;
    border-radius: 20px;
    font-size: 16px;
    color: $black-color;
    text-align: center;
    display: inline-block;
    width: auto;
  }

  .cart-payment {
    background-color: $primary-color;
    font-size: 18px;
    color: $white-color;
    width: 100%;
    display: block;
  }
}
