.cart-title-page {
  font-size: 22px;
  font-weight: 500;
}

.cart-link-info {
  color: black;
  border-right: 1px solid;
  // text-align: left;
  margin: auto;
  padding: 0 20px;
  font-weight: 400;
  font-size: 12px;
}

.cart-link-info.no-border {
  border: 1px solid transparent;
}

.wrap-cart-content {
  padding: 30px 0;

  .devider-bottom {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }

  .cart-deivder {
    border-bottom: 1px solid;
  }

  .head-title {
    font-size: 14px;
    font-weight: 500;
  }

  .item-img-cart {
    // width: 80px;
    padding-top: 54px/44px * 100%;

    .quantity-small {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: $primary-color;
      border-radius: 100%;
      padding: 0 6px;
      font-size: 12px;
      color: $white-color;
    }
  }

  .cart-item {
    .item {
      margin-bottom: 0px;
    }

    .cart-title-product {
      font-weight: 500;
      margin-bottom: 6px;
      height: auto;
      display: flex;
      justify-content: space-between;
      line-height: 1;
    }

    @media (max-width: 768px) {
      .cart-title-product {
        min-height: 20px;
        // font-size: 12px;
      }
    }
  }
}

.wrap-payment {
  display: flex;
  justify-content: end;

  .float-right {
    float: right;
  }

  .total-quantity {
    text-align: right;
    font-size: 18px;
  }

  .total-bill {
    // display: flex;
    font-size: 36px;
  }

  .cart-btn-payment {
    background-color: $primary-color;
    color: $white-color;
    font-size: 26px;
    padding: 2px 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cart-btn-continue {
    background-color: $gray-400;
    margin-top: 20px;
    padding: 6px 26px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .page-cart {
    padding: 0;

    &__scroll {
      overflow-y: auto;
      overflow-x: hidden;
      height: 300px;
      margin-top: 10px;
      border-top: 1px solid #ddd;
    }
  }

  .cart-items .cart-item {
    .item-img-cart {
      // width: 100px;
    }

    .wrap-input-counter {
      margin: 0;
    }

    .item {
      margin-bottom: 6px;
      // font-size: 12px;
    }
  }

  .page-cart .wrap-input-counter {
    width: 70px;

    .input-counter {
      padding: 2px 30px;
      width: 70px;
    }
    .counter-btn {
      transform: translate(34%, -50%);
      width: 30px;
    }
  }

  .wrap-payment {
    display: flex;
    flex-direction: column;
  }

  .cart-advise {
    padding: 10px;

    .cart-link-info {
      padding: 0 10px;
      font-size: 8px;
      border: none;
    }

    .border-right {
      border-right: 1px solid;
    }
  }
}
