.wrap-payment-page {
  display: flex;
  flex-direction: column;
  padding: 30px;

  .wrap-cart-content {
    .item-img-cart {
      // width: 70px;
      min-width: 40px;
    }
    .cart-item__info .item {
      font-weight: 300;
      font-size: 11px;
      margin-bottom: 4px;
    }
  }
}
@media (max-width: 768px) {
  .wrap-payment-container {
    flex-flow: column-reverse;
  }
  .wrap-payment-page-left {
    padding: 30px 0px;
  }
}
.wrap-logo-payment {
  padding: 20px 0;

  .logo-custom {
    height: 38px;
  }
}

.btn-around {
  margin-top: 40px;
}

.form-voucher {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input-form {
    height: 46px;
  }

  .btn-around {
    margin-top: 20px;
    margin-left: 20px;
    background-color: $primary-color;
    color: $white-color;
    opacity: 0.3;
    border-radius: 10px;
    height: 46px;
    padding: 0 40px;
  }
}

.btn-back {
  width: 8px;
  margin-bottom: 4px;
}

.form-check-label {
  color: $gray-600;
}

.payment-advise {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .cart-link-info {
    font-size: 10px;
    margin: 0;
  }
}
